body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/disneyCastle.jpg");
  background-size: 100% 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  margin-top:30px;
  margin-bottom:50px;
}

.jumbotron{
	padding-top:50px;
	height:528px;
	background-color:rgba(94,214,244,0);
	text-align:center;
}

#play{
	margin-top:280px;
	border-radius:0;
	border:none;
	background-color:rgba(37,117,247,1);
	font-family: 'Cormorant Infant', serif;
}

.jumbotron img{
	width:40%;

}

.container-fluid{
	margin-top:50px;
	width:100%;
	height:600px;
	background-color:rgba(94,214,244,.5);
	/*(221,65,242,.5)*/
}

form {
	text-align:center;
}

/*input{
	margin-top:60px;
	font-family: 'Cormorant Infant', serif;
}*/

h3{
	margin-top:70px;
	font-family: 'Cormorant Infant', serif;
	color:#006eff;
}

#questionDisplay {
	text-align:center;
	font-size:40px;
	margin-top:40px;
	padding-top:0px;
	font-family: 'Cormorant Infant', serif;
	color:#fff;
}

ul {
	list-style-type:none;
	text-align:center;

}

ul li{
	display:inline;
	font-size:25px;
	color:#fff;
	font-family: 'Cormorant Infant', serif;
	margin-left:10px;
}

#timer{
	margin-top:50px;
	text-align:center;
	font-family: 'Cormorant Infant', serif;
	font-size:50px;
	color:#fff;
}

#nextButton{
	margin-top:370px;
	width:150px;
	border-radius:0;
	border:none;
	background-color:rgba(37,117,247,1);
	font-family: 'Cormorant Infant', serif;
}

#replayButton{
	margin-top:180px;
	width:150px;
	border-radius:0;
	border:none;
	background-color:rgba(37,117,247,1);
	font-family: 'Cormorant Infant', serif;
}

